# IntelliJ project files
.idea/*
dcop-adopt.iml

# Eclipse project files
.classpath
.project
.settings/*

# Binaries
/bin/
/bin1/
/out/

# JADE files
APDescription.txt
MTPs-Main-Container.txt

/target/
